*{
    box-sizing: border-box;
}

.mainflex{
    display:flex;
    width:100%;
}

.mainwidth{
    display:flex;
    flex-direction: column;
    height:931px;
    background-color: rgba(45,45,45, 0.04);
}

/*side-navbar*/

/* end of side-nav bar */

/* top-bar */

/* End of Top-bar */

/* start of navigation-line */



/* modules-test-overview */

.modules-test-overview{
    display: flex;
    justify-content: space-between;
    width:100%;
    padding-top:30px;
}

.overviews{
    display:flex;
    flex-direction: column;
    width:35.4269%;
    margin-right:8%;
}

.overviews-heading h5{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    text-transform: capitalize;
    color: #03293D;
}

.overview{
    width: 100%;
    height: 573px;
    background: #FFFFFF;
}

.overview .first{
    margin-top:45px;
}

.overviewboxflex{
    display:flex;
    justify-content: space-around;
    margin-top:20px;
    padding-left:20px;
    padding-right:20px;
}

.overviewbox{
    width:45.1%;
    height: 112px;
    background: #F15832;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    padding: 15px;
}

.improvement{
    background-color: rgba(3, 41, 61, 0.8) !important;
}

.modulestest{
    background-color: #296799 !important;
}

.totalfailed{
    background-color: #F8426E !important;
}

.totalpassed{
    background-color: #4DBD98 !important;
}

.totaluntested{
    background-color: #3D43A2 !important;
}


.overviewboxtop{
    display: flex;
    justify-content: space-between;
}

.overviewimage{
    display:flex;
    align-items:center;
    background-color:rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    height:34px;
    padding:10px;
}

.overviewboxtop h5{
    font-weight: 800;
    font-size: 24px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-top:0;
}

.totaltest h5{
    margin-top: -25px !important;
}

.overviewboxbottom h5{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    margin-top:-10px;
}

@media screen and (max-width:1100px){
    .mainwidth{
        display:flex;
        flex-direction: column;
        height:auto;
        background-color: rgba(45,45,45, 0.04);
        padding-bottom:20px;
    }

    .modules-test-overview{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width:100%;
        padding-top:30px;
    }

    .modules{
        display:flex;
        flex-direction: column;
        width:75%;
        /* height:569px; */
        margin-left:12%;
        margin-right:20% !important;
    }

    .tests{
        display:flex;
        flex-direction: column;
        width:75%;
        margin-right:20%;
        margin-left:12%;
    }

    .overviews{
        display:flex;
        flex-direction: column;
        width:75%;
        margin-right:20%;
        margin-left:12%;
    }
}

@media screen and (max-width:400px){
    .overviewboxflex{
        display:flex;
        justify-content: space-around;
        margin-top:20px;
        padding-left:10px;
        padding-right:10px;
    }
    

    .overviewbox{
        width:48%;
        height: 112px;
        background: #F15832;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        display:flex;
        flex-direction: column;
        padding: 10px;
    }
    
}


